@import "tailwindcss";

body {
    font-family: 'Lato', sans-serif;
    background-color: #FAFAFA;
}


/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */


.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}


/* Lato Bold */
@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
        url('/assets/fonts/lato/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}